package-lock.json
api/public/uploads/*/*

!api/public/uploads/base/default.png
!api/public/uploads/student/base
api/public/uploads/student/base/*
!api/public/uploads/student/base/default.png
api/public/uploads.zip
api/public/uploads/courses.zip
api/uploads/profile/award__heroimage_SVASU-1-min.jpg
api/uploads/profile/award__image_2021_08_31T06_58_23_709Z.png
api/uploads/profile/award__screen launch.jpg
api/uploads/profile/award__unnamed.png
api/uploads/profile/profile__heroimage_SVASU-1-min.jpg
api/uploads/profile/profile__Screenshot 2021-11-29 at 14.56.31.png
api/uploads/profile/profile__screeshot.PNG
api/uploads/services/service__screen launch.jpg
